
.commentList__comment-thread {
    list-style: none;
}

.commentList__comment {
    margin-left: 25px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.commentsList_title {
    font-size: 14px;
    margin-top: 20px;
}