.news {
  width: 80%;
  margin: 10px auto;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  background-color: #fdfdfd;
  padding: 10px;
}

.news__title-link {
    color: #f64747;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
    display: inline-block;
  }
.news__info {
    margin: 4px;
}
.news__link:hover {
  text-decoration: none;
}
.news__title-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
